body {
	/* background-color: royalblue */
	background: linear-gradient(90deg, blue, red)
}

h3 {
	text-align: center;
	background-color: black;
	border-style: dashed;
	border-radius: 10%;
	color: gold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 300px;
}

h4 {
	color: brown;
}

li {
	margin-top: 4px;
}

#board {
	background-color: white;
	padding: 4%;
	border-style: groove;
	border-width: 8px;
	border-radius: 3%;
	max-width: 500px;
}