body {
	font-family: 'Comfortaa', cursive;
	background-image: url("https://img.ibxk.com.br/2011/12/materias/59323772727104943.jpg?w=328");
	background-repeat: no-repeat;
	background-attachment: fixed;
} 