body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
} 

code {
	white-space: pre-line;
}

#inset {
	background-color: black;
	padding: 40px;
	max-width: 100px;
	box-shadow: inset 10px 10px 5px #888888;
}

#multiple {
	background-color: black;
	padding: 40px;
	max-width: 100px;
	box-shadow: inset 10px 10px 5px #888888,
				inset -10px -10px 5px #888888;
}

#colorful {
	background-color: limegreen;
	margin: 10px;
	padding: 40px;
	max-width: 100px;
	box-shadow: 0 0 10px 4px #FF6347,
	0 0 10px 30px #FFDAB9,
	30px 0 20px 30px #B0E0E6;
}