body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
	padding-bottom: 400px;
} 
code {
	white-space: pre-line;
}
#result1 {
	filter: blur(5px) hue-rotate(180deg);
}

#result2 {
	filter: saturate(30%) drop-shadow(5px 9px 2px gray) blur(1px);
}

#result3 {
	filter: brightness(150%) sepia(100%);
}