body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
	padding-bottom: 300px;
} 
code {
	white-space: pre-line;
}

.r {
	float: left;
	width: 300px;
	height: 100px;
	margin: 4px;
	color: white;
}
#result1 {
	background: linear-gradient(DeepSkyBlue,Black);
}

#result2{
	background: linear-gradient(blue,yellow,green,pink,white);
}

#result3 {
	background: linear-gradient(to left,blue,green,white);
}

#result4 {
	background: linear-gradient(to bottom,blue,green,white);
} 

#result5 {
	background: linear-gradient(to bottom left,blue,green,white);
}

#result6 {
	background: linear-gradient(135deg,blue,green,white);
}

#result7 {
	background: repeating-linear-gradient(blue,green 20px);
}