body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
} 
code {
	white-space: pre-line;
}
#result1 {
	width: 800px;
	height:600px;
	background-image: url(sololearn.png), url(julia\ set.png);
	background-position: right bottom, left top;
	background-repeat: no-repeat;
}