body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
} 
code {
	white-space: pre-line;
}
img{
	max-width: 100px;
	max-height:100px;
}
#img1 {
	opacity: 1;
}
#img2 {
	opacity: 0.5;
}
#img3 {
	opacity: 0.25;
}