body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
	padding-bottom: 400px;
} 
code {
	white-space: pre-line;
}
div.first {
    width: 200px;
    height: 100px;
    background-color: #8BC34A;
    transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    color:white;
}
div.second {
    margin: 60px;
    width: 200px;
    height: 100px;
    background-color: #8bc34a;
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    color:white;
}
div.third{
    width: 200px;
    height: 100px;
    background-color: #8BC34A;
    transform: rotate(45deg) translate(100px);
    -webkit-transform: rotate(45deg) translate(100px);
    color:white;
}