body {
	font-family: 'Comfortaa', cursive;
	font-size: 110%;
	padding-bottom: 400px;
} 
code {
	white-space: pre-line;
}

#result1 {
	position: relative;
	margin: 10px;
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: colorchange;
	animation-duration: 10s;
}
@keyframes colorchange {
	0% {background-color: red; }
	50% {background-color: green;}
	100% {background-color: blue;}
}